html,
body {
  margin: 0;
  padding: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.xtreme-bold {
  font-size: 1.5rem;
  font-weight: 900;
}

.no-outline {
  outline: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255 0.5);
  font-weight: bold;
}

.card {
  display: inline-block;
  width: 30%;
  margin: auto;
  margin-top: 10px;
  margin-left: 30px;
}

.card-img-top {
  height: 200px;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .card {
    display: inline-block;
    width: 42%;
    margin: auto;
    margin-top: 10px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    display: inline-block;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-left: 60px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    display: inline-block;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-left: 25px;
  }
}
